@charset "UTF-8";

.jyusyo {
  border: 0px none;
}
.border {
  border: 1px solid black;
}

.address {
	position: relative;
}

.text {
	display: none;
	position: absolute;
	padding: 5px;
	top:-20px;
	margin-left:10px;
	border: 1px solid #333333;
    background-color:white;
    z-index:10;
    width:300px;
    word-wrap: break-word;
    text-align: left;
}

.text:after {
	position: absolute;
}

.address:hover .text {
	display: inline;
}